.lable {
  display: block;
  width: 315px;
  padding: 0 15px;
  margin: 0 auto;
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
}
